@model CantinaBariri143.Models.Pedidos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidosId" />
            <div class="form-group">
                <label asp-for="AlimentosId" class="control-label"></label>
                <select asp-for="AlimentosId" class="form-control" asp-items="ViewBag.AlimentosId"></select>
                <span asp-validation-for="AlimentosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtd" class="control-label"></label>
                <input asp-for="Qtd" class="form-control" />
                <span asp-validation-for="Qtd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
