@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Cadastro confirmar";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Este aplicativo não possui atualmente um remetente de e-mail real registrado, veja <a class="link-red text-dark" href="https://aka.ms/aspaccountconf">estes documentos</a> para saber como configurar um remetente de e-mail real.
            Normalmente isso seria enviado por e-mail: <a class="link-red text-dark" id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
        </p>
    }
    else
    {
        <p>
            Por favor, verifique seu Email
        </p>
    }
}

