@model CantinaBariri143.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientesId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                        <label asp-for="CPF" class="control-label"></label>
                        <input asp-for="CPF" class="form-control" id="CPF" maxlength="14" />
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Restricao" class="control-label"></label>
                        <input asp-for="Restricao" class="form-control" />
                        <span asp-validation-for="Restricao" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger text-light w-100 p-2" value="Salvar" />
                    </div>
                </div>

                <div class="col-6 mt-3">
                    <div>
                        <a asp-action="Index" type="button" class="btn btn-danger text-light w-100 p-2">Voltar</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#CPF').mask('000.000.000-00');
            });
        </script>
    }
}
